.titulo{
    text-align: center;
    font-family: 'Ultra', serif;
    font-size: 5em;
    background-color: gray;
    padding: 20px;
    color: orange;
    
}
  /* Imagen del icono de Facebook*/
  
.facebook{
    position: absolute;
    top: 30px;
    right: 200px;
  
}
  /* Imagen del icono de instagram */
  
.instagram{
    position: absolute;
    top: 5px;
    right: 120px;  
}
  
  /* Fondo de la pagina */
body {
    background: url('../img/fondo.jpg');
}
  
  /* Color de fondo del panel */
.Panel {
    overflow: hidden;
    background-color: black;
}
  
  /* Letras del panel */
.Panel a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 200px;
    text-decoration: none;
    font-size: 10pt;
}
  
  /* Color al hacer click */
.Panel a:hover {
    background-color: white;
    color: black;
}

.form-group{
    color: black;
    font-size: 18pt;
}

label{
    color: white;
}
