<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galeria</title>
    <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static "AnimePlus/css/Galeria.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
</head>
<!--Imagenes de RRSS y encabezado!-->
<body>
    <div class="titulo">
        ANIME PLUS
        <a href="http://www.facebook.com"><img src="{% static "AnimePlus/img/facebook.png" %}" alt="Facebook" class="facebook" width="50" height="50"></a>
        <a href="http://www.instagram.com"><img src="{% static "AnimePlus/img/insta.png" %}" alt="Instagram" class="instagram" width="100" height="100"></a><br>
    </div>

<!-- Panel de menu -->      
<div class="Panel">
    <a href="../Prueba">Inicio</a>
    <a href="../Noticias">Noticias</a>
    <a href="../Galeria">Galeria de imagenes</a>
    <a href="../Contacto">Contáctanos</a>
</div><br>
<!--titulo de galeria de imagenes!-->
<div class="titulo2">
    Los Animes más populares del año 
</div><br>
<!--Imagenes!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static "AnimePlus/img/shingeki.jpg" %}" alt="Shingeki" width="600" height="400">
        </div>
        <div class="col-md-4">
            <img src="{% static "AnimePlus/img/jojos.jpeg" %}" alt="Jojos" width=600 height=400>
        </div>
        <div class="col-md-4">
            <img src="{% static "AnimePlus/img/kimetsu.png" %}" alt="Kimetsu" width=600 height=400>
        </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            1. Shingeki no Kyojin (Temporada 3)
        </div>
        <div class="col-md-4">
            2. JoJo’s Bizarre Adventure: Golden Wind
        </div>
        <div class="col-md-4">
            3. Kimetsu no Yaiba
        </div>
    </div>
</div><br>
<!--Imagenes!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static "AnimePlus/img/dororo.jpg" %}" alt="Dororo" width=600 height=400>
        </div>
        <div class="col-md-4">
            <img src="{% static "AnimePlus/img/bungou.jpg" %}" alt="Bungou" width=600 height=400>
        </div>
        <div class="col-md-4">
            <img src="{% static "AnimePlus/img/carole.jpg" %}" alt="Carole" width=600 height=400>
        </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            4. Dororo
        </div>
        <div class="col-md-4">
            5. Bungou Stray Dogs (Temporada 3)
        </div>
        <div class="col-md-4">
            6. Carole & Tuesday
        </div>
    </div>
</div><br>
<!--Imagenes !-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static "AnimePlus/img/escudo.png" %}" alt="Escudo" width=800 height=400>
        </div>
        <div class="col-md-6">
            <img src="{% static "AnimePlus/img/ace-of-diamond.jpg" %}" alt="Diamond no Ace" width=800 height=400>
        </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            7. The Rising of The Shield Hero
        </div>
        <div class="col-md-6">
            8. Diamond no Ace: Act II
        </div>
    </div>
</div><br>
<!--Imagenes!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static "AnimePlus/img/fruits.jpg" %}" alt="Fruits" width=800 height=400>
        </div>
        <div class="col-md-6">
            <img src="{% static "AnimePlus/img/onepunch.jpg" %}" alt="One Punch Man" width=800 height=400>
        </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                9. Fruits Basket (2019)
        </div>
        <div class="col-md-6">
                10. One Punch Man (Temporada 2)
        </div>
    </div>
</div><br><br>
<!--titulo de galeria de imagenes!-->
<div class="titulo3">
    Los Juegos más esperados de este año
</div><br>
<!--Imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static "AnimePlus/img/nba20.jpg" %}" alt="NBA" width="600" height="400">
        </div>
        <div class="col-md-4">
                <img src="{% static "AnimePlus/img/daysgone.png" %}" alt="Days Gone" width=600 height=400>
        </div>
        <div class="col-md-4">
                <img src="{% static "AnimePlus/img/sekiro.jpg" %}" alt="Sekiro" width=600 height=400>
        </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                1. NBA 2K20
            </div>
            <div class="col-md-4">
                2. Days Gone
            </div>
            <div class="col-md-4">
                3. Sekiro: Shadows Die Twice
            </div>
    </div>
</div><br>
<!--Imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static "AnimePlus/img/thedivision2.jpg" %}" alt="The Division 2" width="600" height="400">
            </div>
            <div class="col-md-4">
                <img src="{% static "AnimePlus/img/devilmaycry.jpg" %}" alt="Devil May Cry" width=600 height=400>
            </div>
            <div class="col-md-4">
                <img src="{% static "AnimePlus/img/anthem.jpg" %}" alt="Anthem" width=600 height=400>
            </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                4. The Division 2
            </div>
            <div class="col-md-4">
                5. Devil May Cry 5
            </div>
            <div class="col-md-4">
                6. Anthem
            </div>
    </div>
</div><br>
<!--Imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static "AnimePlus/img/metroexodus.jpg" %}" alt="Metro Exodus" width=800 height=400>
            </div>
            <div class="col-md-6">
                <img src="{% static "AnimePlus/img/farcry.jpg" %}" alt="Far Cry" width=800 height=400>
            </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                    7. Metro Exodus
            </div>
            <div class="col-md-6">
                    8. Far Cry: New Dawn
            </div>
        </div>
    </div><br>
<!--Imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static "AnimePlus/img/kingdom.jpg" %}" alt="Kingdom Hearts" width=800 height=400>
            </div>
            <div class="col-md-6">
                <img src="{% static "AnimePlus/img/resident.jpg" %}" alt="Resident Evil 2" width=800 height=400>
            </div>
    </div>
</div><br>
<!--Texto de imagenes!-->
<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                    9. Kingdom Hearts III
            </div>
            <div class="col-md-6">
                    10. Resident Evil 2
            </div>
        </div>
    </div><br>

</body>
</html>