<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Noticias</title>
    <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static "AnimePlus/css/Recuperar.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
<!--Imagenes de RRSS y encabezado!-->
<div class="titulo">
    ANIME PLUS
    <a href="http://www.facebook.com"><img src="{% static "AnimePlus/img/facebook.png" %}" alt="Facebook" class="facebook" width="50" height="50"></a>
    <a href="http://www.instagram.com"><img src="{% static "AnimePlus/img/insta.png" %}" alt="Instagram" class="instagram" width="100" height="100"></a><br>
</div>

<!-- Panel de menu -->      
<div class="Panel">
    <a href="../Prueba">Inicio</a>
    <a href="../Noticias">Noticias</a>
    <a href="../Galeria">Galeria de imagenes</a>
    <a href="../Contacto">Contáctanos</a>
</div>
<br>
<div class="form-group">
        <label>Correo: </label>
        <input type="text" value="Correo">
</div>
<input type="button" onclick='alert("Se ha enviado a su correo, el formulario para recuperar contraseña")' value="Enviar">
</body>
</html>